<mat-toolbar color="primary">
    <h1>Registration</h1>
</mat-toolbar>

<div class="col-sm-12 example-container jumbotron bg-transparent">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="FirstName" type="text" name="registration-firstname" [(ngModel)]="register.first_name">
        <span *ngFor="let error of errors.first_name"><br />
            {{ error }}</span>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="LastName" type="text" name="registration-lastname" [(ngModel)]="register.last_name">
        <span *ngFor="let error of errors.last_name"><br />
            {{ error }}</span>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Login" type="text" name="registration-username" [(ngModel)]="register.username">
        <span *ngFor="let error of errors.username"><br />
            {{ error }}</span>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" name="registration-password" [(ngModel)]="register.password">
        <span *ngFor="let error of errors.password"><br />
            {{ error }}</span>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" (keyup.enter)="registerUser()" type="email" name="registration-email" [(ngModel)]="register.email">
        <span *ngFor="let error of errors.email"><br />
            {{ error }}</span>
    </mat-form-field>
        <button (click)="registerUser()" mat-raised-button color="primary" class="btn btn-primary">Sign UP</button>
        <a [routerLink]="['/auth/login']" class="btn btn-link">Cancel</a>
</div>
