<div class="container">
    <div class="row col-sm-3" class="">
        <div class="col-sm-3">
            <!-- <h3 *ngIf="!url">Choose File</h3> -->
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <img [src]="url" height="200"> <br/>
                    <input type="file" name="image"  accept="image/*" (change)="handleFileInput($event)"  />
                </div>
                <!-- <div class="form-group">
                    <button class="btn btn-primary">Submit image</button>
                </div> -->
            </form>
        </div>
    </div>
</div>