<mat-toolbar color="primary">
  <span>News </span>
  <button mat-button class="btn btn-primary nav" routerLink="/users">Users</button>
  <button mat-button class="btn btn-primary nav" (click)="getUserPage()">Profile</button>
  <app-logout></app-logout>
</mat-toolbar>
<div class="container">
  <!-- Search form -->
  <form class="form-inline waves-light" mdbWavesEffect>
    <mat-form-field style="width: 400px;" class="example-full-width">
      <input #search matInput type="search"
        [(ngModel)]="searchText"
        [ngModelOptions]="{standalone: true}"
        placeholder="Search title"
        (click)="getAllNews()" 
        (change)="newMessage(search.value)"
        (blur)="newMessage(search.value)">
    </mat-form-field>
  </form>
  <mat-form-field>
    <mat-label>Favorite filter</mat-label>
    <mat-select [(ngModel)]="filterField">
      <mat-option
        *ngFor="let filter of filters"
        [value]="filter.value">
        {{filter.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

  <h2 class="text-center">What's in the news today?</h2>
  <ul type="none">
    
    <li *ngFor="let itemnews of news | filter:searchText:filterField | paginate: { itemsPerPage: 5, currentPage: page }">
      <img *ngIf="itemnews.image" [src]="itemnews.image" height="200">
      <img *ngIf="!itemnews.image" src="http://localhost:8002/media/static/nophoto.png" height="200">
      <h3>{{ itemnews.title }}</h3>
      <p *ngIf="itemnews.desc">
        {{ itemnews.desc }}
      </p>
      <p *ngIf="itemnews.author">
        <span>Author: </span>
        <a mat-button (click)="getUserPage(itemnews.author_id)" class="pirple">{{ itemnews.author }}</a>
      </p>
      <p *ngIf="itemnews.tags">
        <span>Tags: </span>
        {{ itemnews.tags }}
      </p>
      <!-- <app-tags></app-tags> -->
      <mat-divider></mat-divider>
      <br>
    </li>
    <br>
    <div *ngIf="news.length>0" class="has-text-centered text-center">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </ul>
