a:focus, a:hover {
  color: #ffffff;
  text-decoration: none;
}
.pirple:hover {
  color: #6665fe;
  text-decoration: none;
}
.container {
  /* position: fixed;
  top: 50%;
  left: 50%; 
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
  width:100%; */
  text-align:center;
 }
.nav.btn.btn-primary {
  color: #fff;
  background-color: #7385e6 !important;
  margin: 0 5px;
}