a:focus, a:hover {
  color: #ffffff;
  text-decoration: none;
}
.nav.btn.btn-primary {
  color: #fff;
  background-color: #7385e6 !important;
  margin: 0 5px;
}
.invisible{
  display: none;
}
.right{
  margin:0 20% 0 0;
}
.margin-left{
  margin: 0 0 0 -30px !important;
}
/* app-logout{
  width: inherit;
} */