<!-- <p>profile works!</p> -->
<mat-toolbar color="primary">
  <h1>Profile</h1>
  <button mat-button class="btn btn-primary nav" routerLink="/news">News</button>
  <app-logout></app-logout>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div style="text-align:center" class="col-sm-3 right">
      <ul class="col-9 users">
        <div  class="text-center" *ngFor="let user of users"
          [class.selected]="user === selectedUser">
          <h3 class="text-center">{{user.username}} Settings</h3>
          <img *ngIf="user.avatar"  [src]="user.avatar" height="100">
          <img *ngIf="!user.avatar" src="http://localhost:8002/media/static/user.png" height="100">

          <!-- <app-fileupload (urlEvent)="receiveUserAvatar($event)"></app-fileupload>
          <div *ngFor="let error of errors.password" class="alert alert-danger" role="alert">
            PASSWORD: {{ error }}
          </div> -->
          <ul class="margin-left" type="none">
            <li><label>username: </label>{{user.username}}</li>
            <li><label>email: </label>{{user.email}}</li>
            <li><label>First name: </label>{{user.first_name}}</li>
            <li><label>Last name: </label>{{user.last_name}}</li>
          </ul>
          <button *ngIf="user.id === userIDToken" (click)="onSelect(user)" mat-raised-button color="primary" class="btn btn-primary">Edit profile</button>
        </div>
      </ul>
      <div class="text-center example-container col-sm-12" *ngIf="statusSelected">
        <h4>{{selectedUser.username | uppercase}} Details</h4>
        <app-fileupload (urlEvent)="receiveUserAvatar($event)"></app-fileupload>
        <div class="invisible">
          <label>avatar:
            <input matInput [(ngModel)]="selectedUser.avatar" placeholder="avatar"/>
            <span *ngFor="let error of errors.avatar"><br/>
              {{ error }}</span>
          </label><br>
        </div>
        <div class="invisible">
          <span>id: </span>{{selectedUser.id}}
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="selectedUser.username" placeholder="Username"/>
            <span *ngFor="let error of errors.username"><br/>
              {{ error }}</span>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="selectedUser.email" placeholder="Email"/>
            <span *ngFor="let error of errors.email"><br/>
              {{ error }}</span>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="selectedUser.first_name" placeholder="First name"/>
            <span *ngFor="let error of errors.first_name"><br/>
              {{ error }}</span>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="selectedUser.last_name" placeholder="Last name"/>
            <span *ngFor="let error of errors.last_name"><br/>
              {{ error }}</span>
          </mat-form-field>
        </div>
        <button (click)="updateUser()" 
          mat-raised-button color="primary" 
          class="btn btn-primary">SAVE
        </button>
      </div>
    </div>

    <div class="col-sm-6">
      <div style="display: grid;">
        <h3 class="text-center">Personal News</h3>
        <div class="text-center ">
          <button style="width: 200px;" *ngIf="userId === userIDToken"
                  (click)="openDialog()"
                  mat-raised-button color="primary"
                  class="btn btn-primary">Create NEWS
          </button>
        </div>
      </div>
      <ul type="none">
        <li *ngFor="let itemnews of news | paginate: { itemsPerPage: 5, currentPage: page }">
          <h3>{{ itemnews.title }}</h3>
          <img *ngIf="itemnews.image" [src]="itemnews.image" height="200">
          <img *ngIf="!itemnews.image" src="http://localhost:8002/media/static/nophoto.png" height="200">
          <p *ngIf="itemnews.desc">
            {{ itemnews.desc }}
          </p>
          <p *ngIf="itemnews.author">
            <span>Author: </span>{{ itemnews.author }}
            <span>AuthorID: </span>{{ itemnews.author_id }}
          </p>
          <p *ngIf="itemnews.tags">
            {{ itemnews.tags }}
          </p>
          <mat-divider></mat-divider>
          <br>
        </li>
        <br>
      </ul>
      <div *ngIf="news.length>0" class="has-text-centered text-center">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
      </div>
  </div>
</div>


