<h3>Are you sure you want to discard the changes?</h3>
<div>
  <button mat-raised-button type="button" class="Delete-btn" (click)="cancelN()">Discard</button>
  <button mat-raised-button type="submit" color="primary" class="Cancel-btn" (click)="cancel()">Cancel</button>
</div>