textarea.mat-input-element {
    resize: none !important;
}
app-tags{
    width: 100%;
}
mat-list-item{
    width: 100%;
    margin: 1.5em 0 2.3em 0;
}
.mat-form-field {
    width: 100%!important;
}
.mat-form-field-infix{
    width: 100%!important;
}
.text-inside{
    width: 100%!important;
}