<div>
    <div class="add-title">
      <h2 class="primary">Add news</h2>
    </div>
    <div>
      <form [formGroup]="addCusForm" (change)="formChanged()">
        <app-fileupload (urlEvent)="receiveImage($event)"></app-fileupload>
        <mat-list>
          <mat-list-item>
            <div class="text-inside">
              <mat-form-field>
                <input matInput
                  placeholder="Title"
                  value={{title}}
                  formControlName="title"
                  required>
                <mat-error *ngIf="addCusForm.controls.title.hasError('required')">
                  Please enter Title
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.title.hasError('pattern')">
                  Please enter valid Title
                </mat-error>
              </mat-form-field>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Description" value={{desc}} formControlName="desc" required></textarea>
                <mat-error *ngIf="addCusForm.controls.desc.hasError('required')">
                  Please enter Description
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.desc.hasError('pattern')">
                  Please enter valid Description
                </mat-error>
              </mat-form-field>
            </div>
          </mat-list-item>
            <mat-form-field class="invisible example-full-width">
              <input matInput placeholder="Author"
                    value={{author}}
                    formControlName="author"
                    required [readonly]="true">
            </mat-form-field>
          <mat-list-item>
            <app-tags (tagsEvent)="receiveTags($event)"></app-tags>
          </mat-list-item>
          <mat-list-item>
            <div class="btn-sec">
                <button *ngIf="!addCusForm.controls.title.hasError('required') && !addCusForm.controls.desc.hasError('required')"
                  mat-raised-button type="submit"
                  color="primary"
                  class="Update-btn"
                  (click)="addNews()">Save</button>
                <button mat-raised-button type="button" class="Discard-btn" (click)="openDialog()">Cancel</button>
              </div>
          </mat-list-item>
        </mat-list>
      </form>
    </div>
  </div>
