<mat-toolbar color="primary">
  <span>Users</span>
   <a mat-button class="btn btn-primary nav" routerLink="/news">News</a>
   <button mat-button class="btn btn-primary nav" (click)="getUserPage()">Profile</button>
   <app-logout></app-logout>
</mat-toolbar>

<ul class="col-12">
    <h2>Users</h2>
    <ul class="users">
      <li *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: page }"
        [class.selected]="user === selectedUser"
        (click)="onSelect(user)">
        <span class="badge">{{user.id}}</span> {{user.username}}
      </li>
    </ul>
    <div *ngIf="users.length>0" class="has-text-centered">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  
<div class="col-12" *ngIf="selectedUser">
    <h2>{{selectedUser.username | uppercase}} Details</h2>
    <!-- <div><span>id: </span>{{selectedUser.id}}</div> -->
    <ul type="none">
      <li><label>username: </label>{{selectedUser.username}}</li>
      <li><label>email: </label>{{selectedUser.email}}</li>
      <li><label>first_name: </label>{{selectedUser.first_name}}</li>
      <li><label>last_name: </label>{{selectedUser.last_name}}</li>
    </ul>
  </div>
