/* usersComponent's private CSS styles */
.users {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 45%;
  }
  .users li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 2.6em;
    border-radius: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .users li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .users li.selected {
    background-color: #3f51b5;
    color: white;
  }
  .users li.selected:hover {
    background-color: #4757b3d4;
    color: white;
  }
  .users .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 2.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  a:focus, a:hover {
    color: #ffffff;
    text-decoration: none;
  }
  .nav.btn.btn-primary {
    color: #fff;
    background-color: #7385e6 !important;
    margin: 0 5px;
  }