<mat-toolbar color="primary">
    <h1>Login</h1>
</mat-toolbar>
  <div class="jumbotron bg-transparent text-center example-container">
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Login" (keyup.enter)="keytab($event)" type="text" name="login-username" [(ngModel)]="user.username">
        <span *ngFor="let error of authService.errors.username"><br />
        {{ error }}</span>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" (keyup.enter)="login()" type="password" name="login-password" [(ngModel)]="user.password">
        <span *ngFor="let error of authService.errors.password"><br />
        {{ error }}</span>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <button (click)="login()" mat-raised-button color="primary" class="btn btn-primary">Log In</button>
      <a [routerLink]="['/auth/registration']" class="btn btn-link">Sign UP</a>
    </div>
    <div class="col-sm-12">
      <span *ngFor="let error of authService.errors.non_field_errors">{{ error }}<br /></span>
    </div>
  </div>
  <div class="text-center">
      <span *ngIf="error && error==='Unknown Error'">Error: SERVER IS NOT AVALIABLE RIGHT NOW! Please try again later.</span>
      <span *ngIf="status">Status: {{ status }}</span><br>
      <span *ngIf="error">Description: {{ error }}</span><br>
  </div>
  <app-social></app-social>
